.nav-bar {
  background-color: #0b0234;
  color: white;
  padding: 15px;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.tree-container {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.menu-item {
  cursor: pointer;
  background-color: #f0f8ff;
  border: 1px solid #e1eefa;
  padding: 2px;
}

.menu-item:hover {
  background-color: rgb(1, 37, 52);
  color: rgb(255, 255, 255);
}

ul {
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}